.horizontal { 
    float: left; 
    list-style: none; 
    margin: 10px; 
   }

   .sub-level { 
    background: #ccc; 
   }

   tr { 
    background-color: #fff; 
   } 
   .alt { 
    background-color: #ccc; 
   }

   a { 
    color: #00c; 
   } 
   a.mailto { 
    background: url(email.png) no-repeat right top; 
    padding-right: 18px; 
   } 
   a.pdflink { 
    background: url(pdf.png) no-repeat right top; 
    padding-right: 18px; 
   } a.henrylink { 
    background: #fff url(external.png) no-repeat 100% 2px; 
    padding-right: 16px;
   }
  

   .highlight {
       font-weight:bold; 
       font-style: italic;
    }
